<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:jms="http://www.springframework.org/schema/jms"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation= "http://www.springframework.org/schema/beans 
                            http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
                            http://www.springframework.org/schema/aop 
                            http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
                            http://www.springframework.org/schema/tx 
                            http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
                            http://www.springframework.org/schema/context
                            http://www.springframework.org/schema/context/spring-context-4.1.xsd
                            http://www.springframework.org/schema/jms
                            http://www.springframework.org/schema/jms/spring-jms-4.1.xsd     
                            ">
    
    <!-- 扫描注解所在的包，注意不要包含java config的路径 -->
    <context:component-scan base-package="spartan117.sample.aop"/>
    <context:component-scan base-package="spartan117.sample.service"/>
    <context:component-scan base-package="spartan117.sample.DAO"/>
    
    <!-- 配置数据源 -->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>jdbc.properties</value>
            </list>
        </property>
        <property name="fileEncoding">
            <value>UTF-8</value>
        </property>
    </bean>
    
    <bean id="dataSource"
          class="org.apache.commons.dbcp2.BasicDataSource"
          p:driverClassName="${driver}"
          p:url="${url}"
          p:username="${name}"
          p:password="${passwd}" /> 
    
    <!-- 配置一个spring JdbcTemplate -->
    <bean id="jdbcTemplate"
          class="org.springframework.jdbc.core.JdbcTemplate" abstract="false"
          lazy-init="false" autowire="default">
        <property name="dataSource">
            <ref bean="dataSource" />
        </property>
    </bean>  
    
    <!-- 配置事务管理器 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
          p:dataSource-ref="dataSource"/>
    <tx:annotation-driven /> 
    
    <!-- 配置aop -->
    <aop:aspectj-autoproxy/>
    
    <!--ActiveMQTest-->
    <!--连接工厂-->
    <bean id="connectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory" p:brokerURL="tcp://localhost:61616" />
    <!--消息队列-->
    <bean id="queue" class="org.apache.activemq.command.ActiveMQQueue" c:_="test.queue" />
    <!--JmsTemplate-->
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate" c:_-ref="connectionFactory" p:defaultDestinationName="test.queue" />
    <!--sender-->
    <!--<bean id="sender" class="jason20160627.springtest.activeMQTest.SenderServiceImpl" p:jmsTemplate-ref="jmsTemplate" />-->
    <!--receiver-->
    <bean id="receiver" class="spartan117.sample.MQ.ReceiverServiceImpl" p:jmsTemplate-ref="jmsTemplate" />
    <!--消息监听器-->
    <jms:listener-container connection-factory="connectionFactory" >
        <jms:listener destination="test.queue" ref="receiver" method="re" />
    </jms:listener-container>
    
    
</beans>
